<div class="panel panel-default" ng-init="showContactos()">
	<div class="panel-heading">
	  <p class="panel-title"> Contactos Información Detallada</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Nombre: {{ contactos.name }}</label>
		 <label class="form-control">Apellido: {{ contactos.lastname }}</label>
		 <label class="form-control">Email: {{ contactos.email }}</label>
		 <label class="form-control">Teléfono Celular: {{ contactos.phone }}</label>
		 <label class="form-control">Teléfono Hogar: {{ contactos.phonee }}</label>
		 <label class="form-control">Interes: {{ contactos.interes }}</label>
		<a href="#/contactos" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>